.todo-item-container {
  display: flex;
  padding: 10px;
  align-items: center;
  border: 1px solid rgb(204, 204, 204);
}

button {
  background: transparent;
  border: none;
}

.icon {
  font-size: 18px;
  cursor: pointer;
}

.text-check {
  display: flex;
  align-items: center;
  flex: 1;
}

.checkbox {
  margin-bottom: 4px;
}

.todo-title {
  margin-left: 8px;
}

.active {
  text-decoration: line-through;
}
